/* Colors */
.daytime { background: #fafafa; color: #8c8c8c; }

/* Daytime */
.c-white, h2, h3, h4, h5, button, .button, .button-small, .button-large, footer a, th { color: #fbfaff; }
.c-grey  { color: #8fa2b6; }
.c-lighter, tr,input[type="text"], textarea, nav li a.button { color: #cfd3e3; }
.c-black { color: #697185; }

.c-blue, a, h1 { color: #238bff; }
.c-green { color: #2caf6e; }
.c-red { color: #ff470e; }
.c-yellow { color: #eddd2c; }

.bg-blue { background-color: #238bff; }
.bg-green { background-color: #2a9f56; }
.bg-red { background-color: #ff470e; }
.bg-yellow { background-color: #eddd2c; }

.bg-black { background-color: #191e26; }
.bg-grey { background: #1e2832; } /* BodyBG */
.bg-lighter { background-color: #2d3746; }  /* Nav + Grey Button BG */
.bg-white { background-color: #fbfaff; }

a.bg-lighter:hover { background-color: #374655; }
a.bg-grey:hover { background-color: #283241; }
a.bg-green:hover { background-color: #2daf5f; }
a.bg-blue:hover { background-color: #2a98ff; }
a.bg-black:hover { background-color: #2d3746; }

.o-hover { opacity: 0.8;}
.o-hover:hover { opacity: 1;}

.inactive { opacity: 0.5}
table, tr, td {
    border-collapse: separate;
    border-spacing: 0px;
    vertical-align: top;
}

th, td {
  border-bottom: 1px solid #45515d;
}

hr { background-color: #45515d; }

::placeholder { color: #697185; opacity: 1; }
:-ms-input-placeholder { color: #697185; }
::-ms-input-placeholder { color: #697185; }
